.kr-location-search {
    position: relative;

    &--autocomplete {
        position: absolute !important;
        width: 100%;
        top: calc(100% + .5rem);
        box-shadow: 0 2px 5px rgba(0,0,0,.05);

        &-item {
            .MuiListItemIcon-root {
                min-width: 2rem;
            }
        }
    }

    &--powered-by-google {
        padding: 0 0 5px 10px;
    }

    &--input {
        background-color: #fff;
        border-radius: 1.75rem;
        // box-shadow: 0 0 10px rgba(0,0,0,0.2);

        .MuiInputBase-formControl {
            border-radius: 1.75rem;
            padding-right: 4px;
        }

        .MuiInputLabel-outlined {
            transform: translate(2.9rem, -6px) scale(.75) !important;
        }

        .MuiOutlinedInput-notchedOutline legend {
            margin-left: 2rem;
        }
    }
    
    &--icon__loading {
        animation-name: locating;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
} 

@keyframes locating {
    0% {
        transform: translateY(0) scale(1, 1);
    }

    20% {
        transform: translateY(-20px) scale(1, 1.2);
    }

    25% {
        transform: translateY(-20px) scale(1, 1);
    }

    45% {
        transform: translateY(5px) scale(1, 1);
    }

    48% {
        transform: translateY(5px) scale(1.25, .75);
    }

    90% {
        transform: translateY(0) scale(1, 1);
    }

    100% {
        transform: translateY(0) scale(1, 1);
    }
}