.kr-location-search {
    position: relative;

    &--autocomplete {
        position: absolute !important;
        width: 100%;
        top: calc(100% + .5rem);
        box-shadow: 0 2px 5px rgba(0,0,0,.05);

        &-item {
            .MuiListItemIcon-root {
                min-width: 2rem;
            }
        }
    }

    &--input {
        background-color: #fff;
        border-radius: 1.75rem;

        .MuiInputBase-formControl {
            border-radius: 1.75rem;
        }

        .MuiInputLabel-outlined {
            transform: translate(2.9rem, -6px) scale(.75) !important;
        }

        .MuiOutlinedInput-notchedOutline legend {
            margin-left: 2rem;
        }
    }
} 