@import "../../styles/Colors.scss";

.kr-homepage {
    &--search-container {
        position: relative;
        padding-top: 8.5rem;
        padding-bottom: 10rem;
    }

    &--kiez {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        opacity: .7;
        height: 100%;
        background-position: bottom center;
        background-size: 2200px;
        background-repeat: no-repeat;
        transition: opaicty 300ms;

        &__hidden {
            opacity: 0;
        }
    } 

    &--about {
        margin: 0 0 3rem 0;
    }

    &--together,
    &--about {
        background-color: $brand-blue;
        color: #fff;
        padding: 1rem 0;
    }

    &--howitworks {
        margin: 3rem 0;
    }

    &--kiezhero {
        position: absolute;
        width: 25rem;
        top: 0;
        transform: translateX(-50%);
    }

    &--stats {
        margin-top: 2rem !important;
    }

    &--wirvsvirus {
        max-width: 100%;
        width: 20rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    &--gethelp {
        margin-top: 1rem !important;

        .MuiCardContent-root {
            overflow: hidden;
        }

        .MuiButton-root {
            float: right;
            margin-top: .5rem;
        }
    }
}