.kr-homepage {
    .kr-nav {
        margin-bottom: 2rem;
    }

    &--search-container {
        position: relative;
        padding-top: 8rem;
    }

    &--kiezhero {
        position: absolute;
        width: 25rem;
        top: 0;
        transform: translateX(-50%);
    }
}