$grey: #A1A1A1;
$mapsBlue: #1A73E8;
$black: #000;
$white: #FFF;
$primary: #142850;
$secondary: #27496d;
$tertiary: #0c7b93;
$lightBlue: #00a8cc;

$brand-blue: rgb(30,80,145);
$brand-red: rgb(222,58,66);
$brand-yellow: rgb(231,220,1);

$brand-blue-l: rgb(89,152,191);