@import '../../styles/Colors.scss';
.kr-share-sheet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: #fff;
    transition: opacity 300ms;
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid $brand-blue;
    box-shadow: 0 -5px 5px rgba(0,0,0,.075);

    > .MuiTypography-root {
        padding-right: 1.5rem;
    }

    &__show {
        opacity: 1;
        pointer-events: all;
    }

    &--list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    &--item {
        display: inline-block;
    }

    &--close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }
}