@import "../../styles/Colors.scss";

.kr-nav {
    padding-top: .5rem;
    
    &__bordered {
        border-bottom: 1px solid $brand-red;
    }

    .MuiContainer-root {
        position: relative;
    }
    
    &--logo {
        width: 5.5rem;
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    &--list {
        margin-right: -.5rem !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media screen and (min-width: 768px) {
            margin-right: -1rem !important;
        }
    }

    &--link {
        padding: .5rem .5rem;
        flex: 0;
        padding-bottom: .25rem;
        white-space: nowrap;
        border-bottom: 1px solid transparent;

        @media screen and (min-width: 768px) {
            margin: 0 .5rem !important;
        }

        &:hover {
            text-decoration: none !important;
            border-bottom-color: $brand-blue;
        }
        
        &__active {
            border-bottom-color: $brand-red;
        }
    }
}