@import "../../styles/Colors.scss";

.kr-footer {
    margin-top: 1rem;
    padding: 1rem 0;
    border-bottom: 10px solid $brand-red;
    
    .MuiTypography-root {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &--link {
        margin: 0 1rem !important;
        padding: .5rem 0;

        &__active {
            font-weight: bold;
        }
    }
}

.partner-logo {
    height: 40px;
    margin: 10px 30px;
}